Package: tk.ethanrdoesmc.translucency
Name: Translucency Beta
Depends: mobilesubstrate, firmware (>= 10.0), preferenceloader
Version: 2.0-beta3-TlMs
Architecture: iphoneos-arm
Description: Translucency but built on TranslucentMessages
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
